---
import "./exp_styles.css";
---
<script src="./RichImg.js"></script>

<div class="image-container">
  <img src={Astro.props.src} alt={Astro.props.alt} title="Click to expand" />
</div>

<div class="modal">
  <div class="expwrapper">
    <img src={Astro.props.src} alt={Astro.props.alt} />
  </div>
  <div class="link-container">
    <a href={Astro.props.src} target="_blank">Open in new tab <span class="larrow">⇱</span></a>
  </div>
</div>